asttokens==2.4.1
black==24.10.0
cbor2==5.6.5
click==8.1.7
colorzero==2.0
contourpy==1.3.1
cycler==0.12.1
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
fonttools==4.55.0
gpiod==2.2.2
gpiodevice==0.0.5
gpiozero==2.0.1
gtfs-realtime-bindings==1.0.0
ipython==8.29.0
jedi==0.19.2
kiwisolver==1.4.7
lgpio==0.2.2.0
luma.core==2.4.2
luma.lcd==2.11.0
luma.oled==3.14.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mypy-extensions==1.0.0
numpy==2.1.3
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
protobuf==5.29.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyftdi==0.56.0
Pygments==2.18.0
pyparsing==3.2.0
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.2.1
PyYAML==6.0.2
RPi.GPIO==0.7.1
six==1.16.0
smbus2==0.5.0
spidev==3.6
st7735==1.0.0
st7789==1.0.1
stack-data==0.6.3
-e git+ssh://git@github.com/abarbadan/stm-alert.git@f572d2a5df23545e35ed1b8eb1bb4b3af7929828#egg=stm_alert
tomli==2.2.1
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
